In [2]:
import pandas as pd
import numpy as np

Load data from CSV

In [3]:
df = pd.read_csv("adult.data.csv")

See the sample data

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Check for the NA values in df

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [6]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [7]:
type(df['race'].value_counts())

pandas.core.series.Series

## What is the average age of men?

In [8]:
round(df[df['sex'] == "Male"]['age'].mean(),1)

np.float64(39.4)

# What is the percentage of people who have a Bachelor's degree?

In [9]:
round((len(df[df['education'] == "Bachelors"])/len(df)) * 100,1)

16.4

# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with `Bachelors`, `Masters`, or `Doctorate`

In [10]:
higher_education = len(df[(df['education'] == "Bachelors") | (df['education'] == "Masters") | (df['education'] == "Doctorate")])
higher_education

7491

# without `Bachelors`, `Masters`, or `Doctorate`

In [11]:
lower_education = len(df) - higher_education
lower_education

25070

# percentage with salary >50K

In [12]:
higher_education_rich = round((len(df[(df['salary'] == ">50K") & (df['education'].isin(["Bachelors", "Masters", "Doctorate"]))]) / higher_education ) * 100,1)
higher_education_rich

46.5

In [13]:
lower_education_rich = round((len(df[(df['salary'] == ">50K") & (df['education'] != "Bachelors") & (df['education'] != "Masters") & (df['education'] != "Doctorate")]) / lower_education ) * 100,1)
lower_education_rich

17.4

 # What is the minimum number of hours a person works per week (hours-per-week feature)?

In [14]:
int(df['hours-per-week'].min())

1

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [15]:
num_min_workers = len(df[df['hours-per-week'] == 1])
num_min_workers

20

In [16]:
rich_percentage = len(df[(df['hours-per-week'] == 1) & (df['salary'] == ">50K")]) / num_min_workers * 100
rich_percentage

10.0

# What country has the highest percentage of people that earn >50K?

In [17]:
people_from_country = df['native-country'].value_counts()
people_from_country

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [18]:
people_who_earn_more = df[df['salary'] == ">50K"]['native-country'].value_counts()
people_who_earn_more

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Cuba                    25
Italy                   25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Poland                  12
France                  12
Puerto-Rico             12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Portugal                 4
Ecuador                  4
Haiti                    4
Scotland                 3
Guatemala                3
Thailand                 3
Hungary                  3
Columbia                 2
Peru                     2
Dominican-Republic       2
Trinadad&Tobago          2
Nicaragua                2
Laos                     2
Honduras                 1
Name: count, dtype: int64

In [19]:
percnetage = people_who_earn_more/people_from_country
percnetage

native-country
?                             0.250429
Cambodia                      0.368421
Canada                        0.322314
China                         0.266667
Columbia                      0.033898
Cuba                          0.263158
Dominican-Republic            0.028571
Ecuador                       0.142857
El-Salvador                   0.084906
England                       0.333333
France                        0.413793
Germany                       0.321168
Greece                        0.275862
Guatemala                     0.046875
Haiti                         0.090909
Holand-Netherlands                 NaN
Honduras                      0.076923
Hong                          0.300000
Hungary                       0.230769
India                         0.400000
Iran                          0.418605
Ireland                       0.208333
Italy                         0.342466
Jamaica                       0.123457
Japan                         0.387097
Laos                          0.111111
Mexico                        0.051322
Nicaragua                     0.058824
Outlying-US(Guam-USVI-etc)         NaN
Peru                          0.064516
Philippines                   0.308081
Poland                        0.200000
Portugal                      0.108108
Puerto-Rico                   0.105263
Scotland                      0.250000
South                         0.200000
Taiwan                        0.392157
Thailand                      0.166667
Trinadad&Tobago               0.105263
United-States                 0.245835
Vietnam                       0.074627
Yugoslavia                    0.375000
Name: count, dtype: float64

In [20]:
highest_earning_country = percnetage.sort_values(ascending=False).index[0]
highest_earning_country

'Iran'

In [23]:
round(percnetage.sort_values(ascending=False).head(1).iloc[0]*100,1)

np.float64(41.9)

# Identify the most popular occupation for those who earn >50K in India.

In [22]:
top_IN_occupation = df[(df['salary'] == ">50K") & (df['native-country'] == "India")]['occupation'].value_counts(ascending=False).index[0]
top_IN_occupation

'Prof-specialty'